*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(70, 129, 137, 0.5), rgb(250,250,250), rgba(70, 129, 137, 0.5));  
}

/*-----------------------------------------------------------------------------------------------------*/

#cabecera-principal{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(3, 25, 38);
}

#menu{
    display: flex;
    justify-content: center;
}

.opciones{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

.opcion{
    display: flex;
    justify-content: center;
    list-style: none;
    color: rgb(250, 250, 250);
    position: relative;
    margin: 5px;
}

.opcion-enlace{
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 1.5vh;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.opcion-enlace:after{
    content: "";
    width: 0;
    height: 10px;
    background-color: rgb(250, 250, 250);
    position: absolute;
    top: 0;
    right: 50%;
    transition: all .5s;
    will-change:width;
}

.opcion-enlace:hover:after{
    width: 100%;
    right: 0;
}

.opcion-enlace:hover{
    color: rgb(250, 250, 250);
    background-color: rgba(250, 250, 250, 0.2);
    transition: all 1s;
}

li{
    color: rgb(250, 250, 250);
}

#menu-oculto{
    display: none;
}
/*-----------------------------------------------------------------------------------------------------*/

.titulo{
    color: rgb(250, 250, 250);
    background-color: rgb(3, 25, 38);
    width: 45%;
    font-size: 50px;
    text-align: center;
    margin: 5vh 0 5vh 0;
    border: 1px solid rgb(250, 250, 250);
}

.titulo--left{
    margin-left: 5%;
}

.titulo--right{
    margin-left: 50%;
}

.sub-titulo{
    color: rgb(3, 25, 38);
    text-decoration: underline ;
    font-size: 40px;
    text-align: center;
    padding: 1rem;
}

/*-----------------------------------------------------------------------------------------------------*/

#contenido-principal{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

/*-----------------------------------------------------------------------------------------------------*/

#boton-inicio{
    background-color: rgba(3, 25, 38, 0.5);
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
}

#contacto-principal{
    position: fixed;
    bottom: 0;
    background-color: rgb(3, 25, 38);
    width: 100%;
    height: 15vh;
    color: rgb(250, 250, 250);
    font-size: 10px;
    text-align: center;
}

.enlace-contacto{
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------*/s

a{
    text-decoration: none;
}

#boton-inicio{
    text-decoration: none;
    color: rgb(250, 250, 250);
    background-color: rgba(3, 25, 38, 0.5);
    border-radius: 50%;
    border: 1px solid rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 10vh;
    right: 10vh; 

}

.icon{
    color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
}

.activo{
    background-color: rgb(250, 250, 250 );
    color: rgb(3, 25, 38);
}

.activo .opcion-enlace-oculto{
    color: rgb(3, 25, 38);
}

/*-----------------------------------------------------------------------------------------------------*/

@media (max-width:1147px){
    #menu{
        height: 12.5vh;
    }
    .opcion-enlace{
        font-size: 25px;
        padding: 2vh;
    }
    #cabecera-principal{
        height: 14vh;
    }

}

@media (max-width:950px){
    #menu{
        height: 10vh;
    }

    .opcion-enlace{
        padding: 1.5vh;
    }

    .opcion-enlace, .icon-home3{
        font-size: 20px;
        height: 2.5rem;
    }

    .icon-home3{
        position: relative;
        bottom: 1vh;
    }

    #titulo-principal{
        font-size: 10vh;
    }
    
    #nombre{
        font-size: 3vh;
    }
    #cabecera-principal{
        height: 12vh;
    }
}

@media (max-width:750px){
    #menu{
        height: 10vh;
    }
    .opcion-enlace{
        font-size: 15px;
        padding: 1.5vh;
        
    }
    .titulo{
        font-size: 25px;
    }
}
@media (max-width:610px){
    #menu{
        height: 10vh;
    }
    .opcion-enlace{
        font-size: 13.5px;
        padding: 1.5vh;
    }
}

@media (max-width:570px){
    #menu{
        display: none;
    }
    #menu-oculto{
        display: flex;
        color: rgb(250, 250, 250);
        font-family: 'Courier New', Courier, monospace;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .barra-menu{
        position: sticky;
        background-color: rgb(3, 25, 38);
        width: 100%;
        height: 10vh;
        border-bottom: 1px solid rgb(250, 250, 250);
    }
    #btn-menu{
        display: none;
    }
    .icon-paragraph-center{
        display: block;
        display: flex;
        justify-content: center;
        width: 5vh;
        height: 3.5vh;
        background-color: rgb(3, 25, 38);
        font-size: 25px;
        margin: 3vh;
        position: absolute;
        top: 0;
    }
    .opciones-oculto{
        z-index: 1;
        margin: 0;
        display: flex;
        position:fixed;
        top: 10vh;
        border-top: 1px solid rgb(250, 250, 250);
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: rgb(3, 25, 38);
        visibility: hidden;
        justify-content: flex-start;
    }
    #btn-menu:checked ~ .opciones-oculto{
        visibility: visible;
    }
    .opcion-oculto{
        padding: 1rem;
        margin: 1rem;
        border-left: 10px solid rgb(250, 250, 250);
    }
    .opcion-enlace-oculto{
        font-size: 15px;
        padding: 1.5vh;
        border: unset;
    }
    .opcion-enlace-oculto:hover{
        background-color: unset;
        border: unset;
    }
    .opcion-oculto:hover{
        background-color: rgba(250, 250, 250, 0.7);
    }
}
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------*/

.imagenes{
    display: flex;
    margin-left: 10%;
    max-width: 80%;
    margin-right: 10%;
    height: 500px;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

.imagenes img{
    object-fit:contain;
    width: 100%;
    scroll-snap-align: center;
}

.imagenes ul{
    display: flex;
    animation: cambio 20s infinite;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: -50%;}
    25%{margin-left: -100%;}
    45%{margin-left: -150%;}
    50%{margin-left: -200%;}
}

@media (max-width:590px){
    .imagenes{
        display: flex;
        margin-left: 10%;
        max-width: 80%;
        margin-right: 10%;
        height: 200px;
        width: 100%;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
    }
    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: -100%;}
        40%{margin-left: -200%;}
        60%{margin-left: -285%;}
        80%{margin-left: -370%;}
    }
    .imagenes ul{
        display: flex;
        animation: cambio 20s infinite;
    }
}